<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">

    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/github-markdown.css">
    <link href="{{site.baseurl}}/assets/css/hacker.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/syntax_h.css" rel="stylesheet">
</head>

<style>
        body{
            font-family: Hack, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;
        }
        img{
            max-width: 100%!important;
        }
</style>